header{
	background-color: whitesmoke; 
    border: 3px solid gold;
}
.side-section-header{
	background-color: rgb(109, 155, 255);
    border: 3px solid gold;
}
.side-section{
	background-color: rgb(109, 155, 255);
}
.right-btn{
    
	font-size: 4.3em; 
	color: black;
}
.right-btn:hover{
    border: 2px solid black !important;
}
.sidebar-btn{
	width: 100%;
	background-color: rgb(109, 155, 255);
	border-radius: 15px;
	font-weight: 600;
    height: 80px;
    border: 3px solid gold;
}
.sidebar-btn:hover{
	background-color: #0e2cd8;
	color: white;
}
.developer{
	color: #660000;
	margin-top: 10px;
	font-family: Arial;
}
.card-h:hover{
	width: 42vh !important;
	margin-top: 6px !important;
	margin-bottom: 10px !important; 
}
.header-text{
	
	font-size: 40px;
}
.back-btn{
    border: 1px solid black;
}
.back-btn:hover{
	border: 3px solid red;
	box-shadow: 4px 5px gray;
}

.card:hover{
    transform: scale(1.2);
}
.script{
    color: rgb(121, 120, 120);
    padding-left: 7px;
    text-shadow: 1px 1px rgb(231, 230, 230);
    text-transform: uppercase;
    font-weight:630;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
}